body{
    background-color: #FFF3FB;
}

.logo_titre{
    width: 99vw;
    z-index: 50;
    margin-top: 15%;
}

.logo{
    
    width: 17vh;
    height: auto;
    margin: 0 auto;
  

}

.titreH1{
    font-family: 'Cinzel', serif;
    font-size: 3em;
    text-align: center;

    color: white;
    width: auto;
    
}

h1{
    text-align: center;
}

.imagebaniere{
    position: absolute;
    top: 0;
    left: -3vh;
    object-fit: cover;
    width: 102vw;
    height:fit-content;
    filter:brightness(30%);
    z-index: -100;
}


.presentation{
    display: flex;
    align-items: center;
    margin-top: 9%;
    margin-left: 20%;
    width: 55vw;
    
}

.presentation_titre{
    font-family: 'Bebas Neue', 'regular';
    font-size: 1.5em;
    color: #113537;
    writing-mode: vertical-rl;
    border-right: 12px solid #113537;
    margin-right: 2%;
    padding-right: 2%;
}

.presentation_texte{
    font-size: 1.3em;
    font-family: 'Merriweather', serif;

    
}
    