@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    font-family: 'Merriweather', serif;
    background-color: #FFF3FB;
    color: white;
    overflow: visible;
}

::-webkit-scrollbar {
    display: none;
}

.formulaire-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    position: absolute;
    height: 200vh;
    margin-top: 5%;
}

.formulaire {
    background-color: transparent;
    color: white;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    padding-left: 10px;
    width: 20vw;
    text-align: center;
}

.button {
    color: #FFF3FB;
    background-color: #433E3F;
    padding: 10px 40px;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-family: 'Lato';
    top: 50%;
    left: 50%;
}

.button:hover {
    color: #FFF3FB;
    background-color: #071718;
}

label {
    font-family: 'Bebas Neue';
    font-size: 23px;
}

input {
    font-family: 'Lato';
    font-size: 20px;
    border-radius: 15px;
}

input[type=checkbox] {
    border: 3px solid #201d1e;
    border-radius: 5px;
    width: 2em;
    height: 2em;
    margin-bottom: 1em;
}

.svg {
    transform: translate(100px);
    position: relative;
}