@import url('https://fonts.googleapis.com/css2? family = Bebas + Neue & display = swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bas_page {
  background-color:#8E6E53;
  height: 30%;
}   

.bas_footer {
  width:100%;
  padding: 50px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bas_footer ul {
  list-style: none;
}


.container_footer {
    padding-top: 10px;
    font-family: "Bebas Neue", serif;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.spe_footer {
  font-family: "Bebas Neue", serif;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
}

.container_footer a {
  list-style: none;
  margin-left: 50px;
}



.btn_footer{
  color:#FFF3FB;
  background-color: #433E3F;
   padding: 10px 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-family: 'Lato';
  margin: 20px 0;
  /* display: flex; */
  /* flex-direction: column;
  justify-content: space-between; */
}

.btn_footer:hover{
  color: #FFF3FB;
  background-color: #113638;
}

.contain_1 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  flex-direction: column;
}
.contain_3{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  flex-direction: column;
}

